(
    name: "prior-match",
    frame: (-900.0, -480.0, 900.0, 480.0),
    spawns: [
        (-500.0, -150.0),
        (500.0, -150.0),
    ],
    objects: [],
    chains: [],
    surfaces: [
        (
            outlineMilli: [],
            id: 0,
            centerXMilli: -520000,
            centerYMilli: -260000,
            widthMilli: 210000,
            heightMilli: 48000,
            rotationMilliradians: 0,
            faceRgb: (248, 0, 78),
        ),
        (
            outlineMilli: [],
            id: 1,
            centerXMilli: -310000,
            centerYMilli: -100000,
            widthMilli: 130000,
            heightMilli: 38000,
            rotationMilliradians: 0,
            faceRgb: (248, 0, 78),
        ),
        (
            outlineMilli: [],
            id: 2,
            centerXMilli: -90000,
            centerYMilli: 55000,
            widthMilli: 120000,
            heightMilli: 38000,
            rotationMilliradians: 0,
            faceRgb: (248, 0, 78),
        ),
        (
            outlineMilli: [],
            id: 3,
            centerXMilli: 170000,
            centerYMilli: -80000,
            widthMilli: 120000,
            heightMilli: 38000,
            rotationMilliradians: 0,
            faceRgb: (248, 0, 78),
        ),
        (
            outlineMilli: [],
            id: 4,
            centerXMilli: 440000,
            centerYMilli: 90000,
            widthMilli: 150000,
            heightMilli: 42000,
            rotationMilliradians: 0,
            faceRgb: (248, 0, 78),
        ),
        (
            outlineMilli: [],
            id: 5,
            centerXMilli: -420000,
            centerYMilli: 180000,
            widthMilli: 120000,
            heightMilli: 38000,
            rotationMilliradians: 0,
            faceRgb: (248, 0, 78),
        ),
        (
            outlineMilli: [],
            id: 6,
            centerXMilli: -160000,
            centerYMilli: 255000,
            widthMilli: 145000,
            heightMilli: 40000,
            rotationMilliradians: 0,
            faceRgb: (248, 0, 78),
        ),
        (
            outlineMilli: [],
            id: 7,
            centerXMilli: 110000,
            centerYMilli: 190000,
            widthMilli: 130000,
            heightMilli: 40000,
            rotationMilliradians: 0,
            faceRgb: (248, 0, 78),
        ),
        (
            outlineMilli: [],
            id: 8,
            centerXMilli: 520000,
            centerYMilli: -230000,
            widthMilli: 180000,
            heightMilli: 45000,
            rotationMilliradians: 0,
            faceRgb: (248, 0, 78),
        ),
    ],
    legacy_bodies: [],
    legacy_saws: [],
)