(
    name: "teal",
    frame: (-900.0, -480.0, 900.0, 480.0),
    spawns: [
        (-520.0, -134.0),
        (520.0, -134.0),
    ],
    objects: [],
    chains: [],
    surfaces: [
        (
            outlineMilli: [],
            id: 0,
            centerXMilli: -520000,
            centerYMilli: -170000,
            widthMilli: 92000,
            heightMilli: 24000,
            rotationMilliradians: 0,
            faceRgb: (44, 232, 207),
        ),
        (
            outlineMilli: [],
            id: 1,
            centerXMilli: -390000,
            centerYMilli: -58000,
            widthMilli: 82000,
            heightMilli: 24000,
            rotationMilliradians: 0,
            faceRgb: (104, 239, 133),
        ),
        (
            outlineMilli: [],
            id: 2,
            centerXMilli: -260000,
            centerYMilli: 36000,
            widthMilli: 76000,
            heightMilli: 24000,
            rotationMilliradians: 0,
            faceRgb: (44, 232, 207),
        ),
        (
            outlineMilli: [],
            id: 3,
            centerXMilli: -130000,
            centerYMilli: -58000,
            widthMilli: 72000,
            heightMilli: 24000,
            rotationMilliradians: 0,
            faceRgb: (104, 239, 133),
        ),
        (
            outlineMilli: [],
            id: 4,
            centerXMilli: -40000,
            centerYMilli: 36000,
            widthMilli: 72000,
            heightMilli: 24000,
            rotationMilliradians: 0,
            faceRgb: (44, 232, 207),
        ),
        (
            outlineMilli: [],
            id: 5,
            centerXMilli: 40000,
            centerYMilli: 36000,
            widthMilli: 72000,
            heightMilli: 24000,
            rotationMilliradians: 0,
            faceRgb: (104, 239, 133),
        ),
        (
            outlineMilli: [],
            id: 6,
            centerXMilli: 130000,
            centerYMilli: -58000,
            widthMilli: 72000,
            heightMilli: 24000,
            rotationMilliradians: 0,
            faceRgb: (44, 232, 207),
        ),
        (
            outlineMilli: [],
            id: 7,
            centerXMilli: 260000,
            centerYMilli: 36000,
            widthMilli: 76000,
            heightMilli: 24000,
            rotationMilliradians: 0,
            faceRgb: (104, 239, 133),
        ),
        (
            outlineMilli: [],
            id: 8,
            centerXMilli: 390000,
            centerYMilli: -58000,
            widthMilli: 82000,
            heightMilli: 24000,
            rotationMilliradians: 0,
            faceRgb: (44, 232, 207),
        ),
        (
            outlineMilli: [],
            id: 9,
            centerXMilli: 520000,
            centerYMilli: -170000,
            widthMilli: 92000,
            heightMilli: 24000,
            rotationMilliradians: 0,
            faceRgb: (104, 239, 133),
        ),
        (
            outlineMilli: [],
            id: 10,
            centerXMilli: -520000,
            centerYMilli: -286000,
            widthMilli: 58000,
            heightMilli: 32000,
            rotationMilliradians: 0,
            faceRgb: (91, 99, 76),
        ),
        (
            outlineMilli: [],
            id: 11,
            centerXMilli: -390000,
            centerYMilli: -230000,
            widthMilli: 58000,
            heightMilli: 32000,
            rotationMilliradians: 0,
            faceRgb: (91, 99, 76),
        ),
        (
            outlineMilli: [],
            id: 12,
            centerXMilli: -260000,
            centerYMilli: -190000,
            widthMilli: 58000,
            heightMilli: 32000,
            rotationMilliradians: 0,
            faceRgb: (91, 99, 76),
        ),
        (
            outlineMilli: [],
            id: 13,
            centerXMilli: -130000,
            centerYMilli: -230000,
            widthMilli: 58000,
            heightMilli: 32000,
            rotationMilliradians: 0,
            faceRgb: (91, 99, 76),
        ),
        (
            outlineMilli: [],
            id: 14,
            centerXMilli: 0,
            centerYMilli: -190000,
            widthMilli: 58000,
            heightMilli: 32000,
            rotationMilliradians: 0,
            faceRgb: (91, 99, 76),
        ),
        (
            outlineMilli: [],
            id: 15,
            centerXMilli: 130000,
            centerYMilli: -230000,
            widthMilli: 58000,
            heightMilli: 32000,
            rotationMilliradians: 0,
            faceRgb: (91, 99, 76),
        ),
        (
            outlineMilli: [],
            id: 16,
            centerXMilli: 260000,
            centerYMilli: -190000,
            widthMilli: 58000,
            heightMilli: 32000,
            rotationMilliradians: 0,
            faceRgb: (91, 99, 76),
        ),
        (
            outlineMilli: [],
            id: 17,
            centerXMilli: 390000,
            centerYMilli: -230000,
            widthMilli: 58000,
            heightMilli: 32000,
            rotationMilliradians: 0,
            faceRgb: (91, 99, 76),
        ),
        (
            outlineMilli: [],
            id: 18,
            centerXMilli: 520000,
            centerYMilli: -286000,
            widthMilli: 58000,
            heightMilli: 32000,
            rotationMilliradians: 0,
            faceRgb: (91, 99, 76),
        ),
    ],
    legacy_bodies: [],
    legacy_saws: [],
)